# Byte-compiled
__pycache__/
*.py[cod]

# Virtual envs
.venv/
env/
.venv/*

# Editor/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python packaging
dist/
build/
*.egg-info/

# Docker
*.pid

# Env files
.env
.env.local

